   <td>1</td>
                                        <td>Tortila</td>
                                        <td>50 Pack</td>
                                        <td>16-04-2019</td>
                                        <td>Makanan</td>
                                    </tr>

                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>2</td>
                                        <td>Roti</td>
                                        <td>20 Pack</td>
                                        <td>14-04-2019</td>
                                        <td>Makanan</td>
                                    </tr>

                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>3</td>
                                        <td>Crispy</td>
                                        <td>20 Pack</td>
                                        <td>14-04-2019</td>
                                        <td>Makanan</td>
                                    </tr>

                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>4</td>
                                        <td>Beef Patties</td>
                                        <td>20 Pack</td>
                                        <td>13-04-2019</td>
                                        <td>Makanan</td>
                                    </tr>

                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>5</td>
                                        <td>Keju</td>
                                        <td>20 Pack</td>
                                        <td>13-04-2019</td>
                                        <td>Makanan</td>
                                    </tr>

                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>6</td>
                                        <td>telor</td>
                                        <td>2 Piring</td>
                                        <td>13-04-2019</td>
                                        <td>Makanan</td>
                                    </tr>